h1 {
  font-weight: bold;
  text-align: center;
}
.my-btn {
  padding: 15px 40px;
  background-color: rgb(230, 239, 230);
  color: rgb(6, 6, 6);
  border-radius: 4px;
  margin: 10px;
}
.anim {
  box-shadow: 0 15px 15px 0 tomato;
  opacity: 0.5;
}
div {
  text-align: center;
}

@media screen and (max-width: 300px) {
  .my-btn {
    margin: 2px;
    width: 55%;
  }
}
